{% load staticfiles %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}W* Optimization{% endblock %}</title>
    <script type='text/javascript' src="http://code.jquery.com/jquery-2.1.3.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
    {% block nav %}
    <div class="nav">
	    <ul>
	        <li>{% block nav-calculate %}<a href="/calculate">Calculate</a>{% endblock %}</li>
	        <li>{% block nav-buffs %}<a href="/buffs">Buffs</a>{% endblock %}</li>
            <li>{% block nav-display %}<a href="/display">Display</a>{% endblock %}</li>

	    </ul>
	</div>
    {% endblock %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
